:root {
    --ll-color-white: #ffffff;
    --ll-text-dark: #121212;
    --ll-text-grey: #727272;
    --ll-primary-color: #2963FF;
    --ll-primary-light-color: #EAEFFF;
}
  


body{
    background-color: var(--ll-color-white) !important;
}

thead{
    background-color: var(--ll-primary-light-color) !important;
}

.ll-text-primary-color{
    color: var(--ll-text-dark) !important;
}

.text-link{
    color: var(--ll-primary-color);
}

/* navbar design */
.ll-nav-logo img{
    width: 80px;
}

.ll-nav-bar {
    border: none;
    background-color: var(--ll-color-white);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 5px -10px;
}

/* sidebar design */
#ll-sidebar {
    background-color: var(--ll-color-white);
    box-shadow: 4.5px 0.5px 12px -6px #d5d5d5;
}

#ll-sidebar.transform-none {
    top: 0;
}

#ll-sidebar ul li{
    margin: 0;
}

#ll-sidebar ul li a{
    padding: 10px 15px;
    border: none;
    color: #737373;
    font-size: 15px;
}

#ll-sidebar .h-full > ul > li > a{
    padding: 10px 15px 10px 1.5rem;
}

#ll-sidebar ul li a:hover,
#ll-sidebar ul li a.active {
    color: var(--ll-text-dark);
    background-color: var(--ll-primary-light-color);
    border-right: 3px solid var(--ll-primary-color);
}

#ll-sidebar ul li a:hover > i,
#ll-sidebar ul li a.active > i {
    color: var(--ll-primary-color);
}

/* login page design */
.ll-login-left{
    background-color: #e8e8e8;
}

.ll-login-right{
    position: relative;
}

.ll-input-container input{
    background-color: var(--ll-color-white);
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.ll-input-container input[type="password"]{
    padding-right: 40px;
}

.ll-input-container > .flex{
    position: relative;
    align-items: center;
}

.ll-input-container input#password_changed + button[type="button"]{
    margin: 0;
    border: 0;
    background-color: transparent;
    position: absolute;
    right: 0;
    border-radius: 0px;
}

.ll-input-container input#password_changed + button[type="button"]:focus{
    border: 0;
    outline: none;
    box-shadow: none;
}

.ll-form-container .btn-primary.btn-lg{
    font-size: 0.875rem !important;
}

.ll-terms-policy label{
    color: var(--ll-text-grey);
}

.ll-login-bottom-logo img{
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
}

.overflow-x-auto:has(> #formDataDefinition){
    border-radius: 10px;
}




/* responsive design */

@media only screen and (max-width: 1023px){
    .ll-login-container,
    .ll-login-container > .grid{
        height: 100%;
    }

    .ll-login-bottom-logo img {
        bottom: 50px;
    }
    
    .ll-login-left img.login-img {
        display: none;
    }
    
    .ll-login-left {
        display: none;
    }
}